@page "/routines/add"
@inherits AppComponentBase

<Page Title="Create Routine">

	<EditForm Model="_addRoutineRequest" OnValidSubmit="OnValidSubmit">
		
		<DataAnnotationsValidator />

		<InputGroupText Label="Name" @bind-Value="@_addRoutineRequest.Name" For="() => _addRoutineRequest.Name" />

		<Loading IsLoading="false">

			<h2>Activities</h2>

			@if (!_addRoutineRequest.Activities.Any())
			{
				<p class="text-muted">Add one or more activities to create your routine.</p>
			}

			@foreach (var activity in _addRoutineRequest.Activities)
			{
				<div class="card">
					<div class="card-body">
						<div class="mb-3">
							<InputText @bind-Value="activity.Name" class="form-control"></InputText>
						</div>
						<div class="row">
							<div class="col-sm">
								<div class="mb-3">
									<label for="@Ids.Next()" class="form-label">Duration</label>
									<div class="input-group">
										<InputNumber id="@Ids.Current()" @bind-Value="activity.DurationInSeconds" class="form-control" />
										<span class="input-group-text">seconds</span>
									</div>
								</div>
							</div>
							<div class="col-sm">
								<div class="mb-3">
									<label for="@Ids.Next()" class="form-label">Break</label>
									<div class="input-group ">
										<InputNumber id="@Ids.Current()" @bind-Value="activity.BreakInSeconds" class="form-control" />
										<span class="input-group-text">seconds</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer d-flex justify-content-end">
						<button type="button" @onclick="() => RemoveActivity(activity)" class="btn btn-secondary" title="remove activity"><i class="fa-solid fa-trash-xmark fa-fw"></i></button>
					</div>
				</div>
			}

			<div class="d-flex justify-content-between">
				<button type="submit" class="btn btn-primary">Create Routine</button>
				<button type="button" @onclick="AddActivity" class="btn btn-secondary no-focus" title="add activity">
					<i class="fa-solid fa-plus fa-fw me-1"></i> 
					Add Activity
				</button>
			</div>

		</Loading>

	</EditForm>
</Page>
