@page "/routines/{RoutineId}/start"
@inherits AppComponentBase

<PageTitle>Run Routine</PageTitle>

<h1>Run Routine</h1>

<Loading IsLoading="_routine is null">
	@switch (_runStatus)
	{
		case RunStatus.IsPending:
		default:
			<p><button type="button" @onclick="StartTimer" class="btn btn-primary">Start</button></p>
			break;
		case RunStatus.IsRunning:
			<p><button type="button" class="btn btn-secondary">Pause</button></p>
			break;
		case RunStatus.IsDone:
			<p><button type="button" class="btn btn-secondary">Done</button></p>
			break;
	}
	@foreach (var activity in _activities)
	{
		<div class="@(activity.Status is ActivityStatus.IsRunning or ActivityStatus.IsBreaking ? "card card-active" : "card")">
			<div class="card-body">
				@activity.Activity.Name
				@if (!string.IsNullOrWhiteSpace(activity.Activity.AudioUrl))
				{
					<audio id="audio-@activity.Activity.ActivityId" src="@activity.Activity.AudioUrl"></audio>
				}
			</div>
			<div class="card-footer text-muted">
				@switch (activity.Status)
				{
					case ActivityStatus.IsPending:
						<span class="d-flex align-items-center">
							<i class="fa-regular fa-square fa-lg me-2"></i>
							<span class="timer me-1">@DisplayTime(activity.DurationRemaining)</span>
						</span>
						break;
					case ActivityStatus.IsRunning:
						<span class="d-flex align-items-center">
							<i class="fa-solid fa-timer fa-lg me-2"></i>
							<span class="timer me-1">@DisplayTime(activity.DurationRemaining)</span> (running)
						</span>
						break;
					case ActivityStatus.IsBreaking:
						<span class="d-flex align-items-center">
							<i class="fa-solid fa-timer fa-lg me-2"></i>
							<span class="timer me-1">@DisplayTime(activity.BreakRemaining)</span> (break)
						</span>
						break;
					case ActivityStatus.IsDone:
						<span class="d-flex align-items-center">
							<i class="fa-solid fa-square-check fa-lg me-2"></i>
							<span class="timer me-1">DONE</span>
						</span>

						break;
				}
			</div>
		</div>
	}
</Loading>

<audio id="audio-break" src="https://cdn.bananatracks.com/polly/.73eea05b-081d-48dc-904e-6f9f5c9c3314.mp3"></audio>
<audio id="audio-done" src="https://cdn.bananatracks.com/polly/.630dd440-cba7-47ce-a2b6-31f8b17e2d6e.mp3"></audio>
