<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(App).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<Authorizing>
					<p><i class="fa-solid fa-circle-notch fa-spin fa-lg"></i> Fetching profile...</p>
					<p><i class="fa-solid fa-user fa-beat-fade fa-lg" style="--fa-beat-fade-opacity: 0.1; --fa-beat-fade-scale: 1.25;"></i> Fetching profile...</p>
				</Authorizing>
				<NotAuthorized>
					@if (context.User.Identity?.IsAuthenticated != true)
					{
						<RedirectToLogin />
					}
					else
					{
						<p role="alert">You are not authorized to access this resource.</p>
					}
				</NotAuthorized>
			</AuthorizeRouteView>
			<FocusOnNavigate RouteData="@routeData" Selector="h1" />
		</Found>
		<NotFound>
			<PageTitle>Not found</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<p role="alert">Sorry, there's nothing at this address.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>
